@page
@model SolutionBussines.RazorPages.Pages.DetailModel
@{
}

<div class="pagetitle">
    <h3>Заказ № @Model.Order.Number, дата - @Model.Order.Date.ToShortDateString()</h3>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="dataTable-top">
                <div class="row m-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddOrderItemModal">
                        <i class="bi bi-file-earmark-plus"></i>Добавить
                    </button>
                </div>
            <div></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Упаковка</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in @Model.OrderItemList){
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.Name</th>
                        <th>@item.Quantity</th>
                        <th>@item.Unit</th>
                        <th>
                           <a href="./Detail?handler=DeleteOrderItem&OrderId=@Model.Order.Id&orderItemId=@item.Id" class='btn btn-primary btn-sm' title="Удалить"> <i class='bi bi-x'></i></a>
                                    <a onclick="jQueryModalGet('?handler=OrderItemId&orderItemId=@item.Id&orderId=@Model.Order.Id','Редактирование')" class="btn btn-primary btn-sm" title="Изменить">
                                        <i class="bi bi-pencil-square"></i>
                           </a>
                        </th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="EditModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="AddOrderItemModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создание нового заказка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" validate method="post" enctype="multipart/form-data">
                    <input type="hidden" name="OrderId" asp-for="@Model.Order.Id">
                    <div class="form-floating col-md-4">
                        <input type="text" class="form-control" name="Name" asp-for=@Model.NewOrderItem.Name required>
                        <label class="form-label">Наименование</label>
                         
                    </div>
                    <div class="form-floating col-md-4">
                        <input type="text" class="form-control" name="Quantity" required>
                        <label class="form-label">Количество</label>
                    </div>
                    <div class="form-floating col-md-4">
                        <input type="text" class="form-control" name="Unit" required>
                        <label class="form-label">Упаковка</label>
                    </div>
                    <span data-valmsg-for="Name" asp-validation-for="NewOrderItem.Name" class="text-danger"></span>
                    <button class="btn btn-outline-success" type="submit" asp-page-handler="AddItem"><i class="bi bi-check-circle"></i><span>Добавить</span></button>
                </form>
            </div>
        </div>
    </div>
</div>

